.img-rounded
{
    max-width:100%;

}
.socialdiv
{
  float:right;

}
.textdiv
{
  width: 100%;
}
.tabledata
{
   word-break: break-all;
}
.manageimage
{
    min-width:100%;
    min-height:100%;
    

}
.manage-title
{

   word-wrap: break-word;

}
